<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-10 pl-2 pr-2 pb-2 post">
            <div class="row">
                <div class="col-md-1 text-center">
                    <ul>
                        <li>
                            <% if(currentUser){ %>
                                <% var found; %>
                                <% for(var y = 0; y < user_rate.length; y++){ %>
                                    <% if(user_rate[y].post._id.toString() == post._id.toString()){ %>
                                            <% if(user_rate[y].like){ %>
                                                <i class="fas fa-circle"></i> 
                                                <% found = true; %>
                                            <% } %>
                                    <% } %>
                                <% } %>
                                <% if(!found){ %>
                                    <form action="/l/<%= category.name%>/post/<%= post.title%>/like" method="POST"> <button><i class="fas fa-caret-up"></i></button></form>
                                 <% } %>
                            <% } else { %>
                                <form action="/l/<%= category.name%>/post/<%= post.title%>/like" method="POST"> <button><i class="fas fa-caret-up"></i></button></form>
                            <% } %>
                          
                            
                        </li>
                        <li id="rating<%= post.title%>"><%= (post.rating.length - post.dislike.length) %></li>
                        <li>
                        <% if(currentUser){ %>
                            <% var found = false; %>
                            <% for(var y = 0; y < user_rate.length; y++){ %>
                                <% if(user_rate[y].post._id.toString() == post._id.toString()){ %>
                                        <% if(!user_rate[y].like){ found = true; %>
                                            <i class="fas fa-circle"></i> 
                                        <% } %>
                                <% } %>
                            <% } %>
                            <% if(!found){ %>
                                <form action="/l/<%= category.name%>/post/<%= post.title%>/dislike" method="POST"> <button><i class="fas fa-caret-down"></i></button></form>
                             <% } %>
                        <% } else { %>
                            <form action="/l/<%= category.name%>/post/<%= post.title%>/dislike" method="POST"> <button><i class="fas fa-caret-down"></i></button></form>
                        <% } %>
                    </li>
                    </ul>
                </div>
                <div class="col-md-11">
                    <small>post by <%= post.author.username %></small><small class="text-muted"> <span id="date9999"> 10 minutes</span><script>timeDifference('<%= post.date%>', '9999')</script> ago</small>
                    <h1><%= post.title%></h1>
                    <p><%= post.content%></p>

                    <% if(currentUser){ %>
                        <% if(user._id.toString() == post.author.id.toString()){ %>
                            <div class="pb-5">
                            <form action="/l/<%=category.name%>/post/<%=post.title%>/edit" method="GET">                                
                                <button class="btn btn-outline-success my-2 my-sm-0 uniqueForm" type="submit">Edit</button>
                            </form>
                            <form action="/l/<%=category.name%>/post/<%=post.title%>?_method=DELETE" method="POST">                                
                                <button class="btn btn-outline-success my-2 my-sm-0 uniqueForm"  type="submit">Delete</button>
                            </form>
                            </div>
                        <% } %>
                    <% } %>
                
                    <% if(!currentUser){ %>
                        <div >
                            <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>
                            <a href="/register"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button></a>
                        </div>
                    <% } else { %>
                        <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/" method="POST">
                            <textarea rows="4" cols="50" class="full-content" name="comment"></textarea>
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                        </form>
                    <% } %>
                    <!-- let player login or comment -->
                    
                    <hr>
                </div>
            </div>
            
            <div>
                <ul>
                    <li>
                        <% for(var i = 0; i < post.comment.length; i++){ %>

                        <!-- this is one comment -->
                        <div class="row pb-2">
                            <div class="col-md-1 text-center">
                                <ul>
                                    <li>
                                        <% if(currentUser){ %>
                                            <% var found; %>
                                            <% for(var y = 0; y < user_comment_rate.length; y++){ %>
                                                <% if(user_comment_rate[y]._id.toString() == post.comment[i]._id.toString()){ %>
                                                        <% if(user_comment_rate[y].like){ %>
                                                            <i class="fas fa-circle"></i> 
                                                            <% found = true; %>
                                                        <% } %>
                                                <% } %>
                                            <% } %>
                                            <% if(!found){ %>
                                                <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/like" method="POST"> <button><i class="fas fa-caret-up"></i></button></form>
                                             <% } %>
                                        <% } else { %>
                                            <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/like" method="POST"> <button><i class="fas fa-caret-up"></i></button></form>
                                        <% } %>
                                    </li>
                                    <li>
                                    <% if(currentUser){ %>
                                        <% var found = false; %>
                                        <% for(var y = 0; y < user_comment_rate.length; y++){ %>
                                            <% if(user_comment_rate[y]._id.toString() == post.comment[i]._id.toString()){ %>
                                                    <% if(!user_comment_rate[y].like){ found = true; %>
                                                        <i class="fas fa-circle"></i> 
                                                    <% } %>
                                            <% } %>
                                        <% } %>
                                        <% if(!found){ %>
                                            <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/dislike" method="POST"> <button><i class="fas fa-caret-down"></i></button></form>
                                         <% } %>
                                    <% } else { %>
                                        <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/dislike" method="POST"> <button><i class="fas fa-caret-down"></i></button></form>
                                    <% } %>
                                </li>
                                </ul>
                            </div>
                            <div class="col-md-11 text-left">
                                <!-- header: username rating date -->
                                <div class="">
                                    <small><%= post.comment[i].author.username%></small> <small class="text-muted"><%= post.comment[i].rating %> points</small> <small><span id="date<%= i%>"> 10 minutes</span><script>timeDifference('<%= post.comment[i].date%>', '<%= i %>')</script> ago</small>
                                    <p><%= post.comment[i].comment %></p>

                                    <% if(currentUser) { %>
                                    <button class="btn btn-outline-success btn-sm pt-0 uniqueForm" onclick="showDiv('reply<%= i%>')">Reply</button>
                                    <% if(user.username == post.comment[i].author.username){ %>
                                    <button class="btn btn-outline-success btn-sm pt-0 uniqueForm" onclick="showDiv('edit<%= i%>')">Edit</button>
                                    <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-outline-success btn-sm pt-0 pb-1 uniqueForm">Delete</button></form>
                                    <% } %>
                                    <% } %>
                                    <div id="reply<%= i%>"  style="display:none;" class="pt-2"> 
                                        <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>" method="POST">
                                            <textarea rows="4" cols="50" class="full-content" name="reply"></textarea>
                                            <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                                        </form>
                                    </div>
                                    <div id="edit<%= i%>"  style="display:none;" class="pt-2"> 
                                        <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>?_method=PUT" method="POST">
                                            <textarea rows="4" cols="50" class="full-content" name="comment"><%= post.comment[i].comment %></textarea>
                                            <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                                        </form>
                                    </div>
                                    <br>
                                </div>
                                <div class="ml-3 mt-1">
                                    <% for(var y = 0; y < post.comment[i].reply.length; y++){ %>
                                        <!-- a nested comment -->
                                        <div class="row reply">
                                            <div class="col-md-12 text-left">
                                                <!-- header: username rating date -->
                                                <div class="">
                                                    <small><%= post.comment[i].reply[y].author.username %></small> <small class="text-muted"><%= post.comment[i].reply[y].rating%></small> <small><span id="date<%= i%>00<%= y%>"> 10 minutes</span><script>timeDifference('<%= post.comment[i].reply[y].date%>', '<%= i %>00<%= y%>')</script> ago</small>
                                                    <p><%= post.comment[i].reply[y].reply %></p>
                                                        <%if (currentUser){ %>
                                                            <% if(user.username == post.comment[i].reply[y].author.username){ %>
                                                                <button class="btn btn-outline-success btn-sm pt-0 uniqueForm" onclick="showDiv('edit<%= i%>00<%= y%>')">Edit</button>
                                                                <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/<%=post.comment[i].reply[y]._id%>?_method=DELETE" method="POST">
                                                                        <button class="btn btn-outline-success btn-sm pt-0 uniqueForm">Delete</button>
                                                                </form>
                                                            <% } %>
                                                        <% }%>
                                                       
                                                        
                                                        
                                                        <div id="edit<%= i%>00<%= y%>"  style="display:none;" class="pt-2"> 
                                                                <form action="/l/<%= category.name%>/post/<%= post.title%>/comment/<%= post.comment[i]._id%>/<%=post.comment[i].reply[y]._id%>?_method=PUT" method="POST">
                                                                    <textarea rows="4" cols="50" class="full-content" name="reply"><%= post.comment[i].comment %></textarea>
                                                                    <button class="btn btn-outline-success btn-sm" type="submit">Submit</button>
                                                                </form>
                                                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                               
                            </div>
                        </div>
                        
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            kajdfkajdflkaj
        </div>

    </div>
</div>
<% include ../partials/footer %>
